*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing:  border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(25deg, #1b2b4b, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.todo-app h2{
    color: #193561;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}